artifacts
[Bb]uilds
[Ll]ogs
[Tt]emp
obj
obj.meta

.bin
bin
bin.meta
node_modules
.coverage
.download
.[Ee]ditor
.UnityLauncher.Editor
.vs
.vscode
.unity-config.json
.vsconfig

.DS_Store
*.app
*.csproj.user
*.DotSettings
*.gen.csproj.meta
*.idea
*.log
*.pyc
*.suo
*.swp
*.user
*.userprefs
*.VC.*

# Backup file created by diff tools
*.orig

*~master*
*~HEAD*

JobSystemDemos/**/*.csproj
JobSystemDemos/**/*.sln
JobSystemDemos/**/packages-lock.json
JobSystemDemos/**/Library
JobSystemDemos/**/UserSettings

PerformanceTestResults.json
PerformanceTestResults.json.meta
PerformanceTestRunInfo.json
PerformanceTestRunInfo.json.meta
StreamingAssets
StreamingAssets.meta
TestResults.xml
TestResults.xml.meta
TestRunner
TestRunner.meta

VersionControlSettings.asset
EditorUserSettings.asset
